@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 210 40% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 210 40% 60%;
    --chart-2: 17 100% 73.5%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 8%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 8%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 40% 60%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 34.9% 92.5%;
    --chart-1: 210 40% 60%;
    --chart-2: 17 100% 73.5%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes light-up {
    0%,
    100% {
      background-color: #4b5563; /* gray-600 */
      box-shadow: none;
    }
    33% {
      background-color: #ef4444; /* red-500 */
      box-shadow: 0 0 10px #ef4444, 0 0 20px #ef4444;
    }
    66% {
      background-color: #f59e0b; /* amber-500 */
      box-shadow: 0 0 10px #f59e0b, 0 0 20px #f59e0b;
    }
    99% {
      background-color: #22c55e; /* green-500 */
      box-shadow: 0 0 10px #22c55e, 0 0 20px #22c55e;
    }
  }

  .traffic-light-loader .light {
    animation: light-up 3s infinite;
  }
  .traffic-light-loader .light:nth-child(1) {
    animation-delay: 0s;
  }
  .traffic-light-loader .light:nth-child(2) {
    animation-delay: 1s;
  }
  .traffic-light-loader .light:nth-child(3) {
    animation-delay: 2s;
  }
}
